<h1><%=@product['name']%></h1>
<p><%=@product['desc']%></p>
<h2><%=@product['category']%></h2>

<div class="product-grid">
    <% @active_discounts.each do |disc| %>
      <div class="product-card">
        <h2><%=disc['name']%></h2>
        <h2><%=disc['description'] %></h2>
      </div>
    <% end %>
  </div>